# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Project specific
data/
models/
gentbd/
archive/

# Downloaded YOLO models (from Ultralytics)
*.pt

# IDE
.vscode/
.idea/
*.swp
*.bak

# OS
.DS_Store

# Environment
.env
*.python-version

# Logs
*.log
*.tmp